.logo {
  font-family: var(--logo-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.head-site__logo--web,
.footer__logo--web {
  color: #2196f3;
}

.head-site__logo {
  color: #000000;
}

.footer__logo {
  color: #ffffff;
}