.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
}
.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  color: var(--button-text-color);
  background-color: var(--blue-bgc);
}
.container {
  width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Скрытый заголовок h2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
